<h1>About Me</h1>
<div id="aboutMe" class="container">
	<div id="headshot">
		<img src="img/headshot.jpg" align="center">
	</div>
	<br>
	<div>
		<p class="homeText">
			My name is Teddy Pappas, I am currently a student at the University of Washington studying Informatics. One group that I am active with on campus is The American Marketing Association. It is a marketing focused club in The Foster School Of Business and I serve as the clubs webmaster. Thanks for visiting my website and feel free to have a look around!
			<br>
			<a class="btn btn-primary" href="https://www.linkedin.com/in/teddypappas" target="_blank">LinkedIn</a>
			<a class="btn btn-success"href="files/resume.pdf" download>Resume</a>
		</p>
	</div>
	<div class="space">
	</div>
</div>